:root
{
    --h1: 44px;
    --h2: 36px;
    --h3: 28px;
    --h4: 24px;
    --h5: 18px;
    --h6: 12px;


    --background-color: white;
    --border-animation-color: black;
    --color-transparent: rgba(0, 0, 0, 0.5);
    --color-red: rgb(255 98 36);
    --color-lightred: rgb(255, 80, 6);
    --color-darkred: rgb(212, 67, 18);


    --font-1: "Circular", helvetica, arial, sans-serif;

}


body
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    text-align: center;
    font-family: var(--font-1);
    
}

details
{
    margin: 0px auto;
    max-width: 950px;



}

summary
{
    cursor: pointer;

    width: auto;
    max-width: fit-content;

    font-size: var(--h2);
    text-align: center;

    margin: 15px auto;
    padding: 5px 5px;
    border-radius: 4px;

    position: relative;

    background-color: var(--background-color);
}

.contain
{
    height: auto;
    padding: 0 44px 0 44px;
}

.header
{
    height: auto;
    font-size: var(--h1);
}

.header-content-box
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: var(--h3);
}

.header-box-paragraph
{
    height: auto;
    width: auto;
    max-width: 1200px;

    font-size: var(--h3);
}

.content
{
    display: flex;
    flex-flow: column;
    justify-content: center;
    
}

.paragraph-header
{
    font-size: var(--h3);
    font-weight: bold;



}

.paragraph-content
{
    font-size: var(--h4);



}


















/**
* ! Button
**/

.button
{
    cursor: pointer;
    padding: 0;

    border-radius: 8px;
    transition: 0.08s;
}

.button:hover
{
    transform: scale(1.05);
}

/**
* ! Button [END]
**/

img
{
    height: 150px;
    width: 150px;
    display: block;
    border-radius: 8px;
}

ul
{
    display: inline-block;
    text-align: center;
    font-size: var(--h2);
    line-height: 1.5;
    padding-top: 0;
}

li
{
    text-align: left;
    font-size: var(--h4);
}

p
{
    margin: 0;
    padding: 10px;
}

.ul-title
{
    font-size: var(--h2);
    padding: 0;
}

/**
* ! Border Animation
**/

@property --angle
{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

summary::after, summary::before, .button-box::after, .button-box::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), white,white,black,white,white, black,white);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    border-radius: 8px;
    animation: 8s spin linear infinite;
}

/* transparent 90%, var(--border-animation-color), var(--background-color) (Original single line border animation) */

summary::before, .button-box::before
{
    filter: blur(28px);
    opacity: 0.15;
}


@keyframes spin
{
    from
    {
        --angle: 0deg;
    }
    to
    {
        --angle: 360deg;
    }
}

/**
* ! Border Animation [END]
**/






