.content-header
{
    font-size: var(--h1);
    margin-bottom: 25px;
}

.button-section
{
    max-width: 2000px;
    width: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    justify-content: center;

}



.button-box
{
    height: auto;
    min-height: 100px;
    width: auto;
    max-width: 520px;
    font-size: var(--h4);

    padding: 10px;
    margin: 10px 25px;
    border-radius: 6px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    position: relative;
}

.button-box-header
{
    font-size: var(--h2);
}

.button-box-paragraph
{
    height: auto;
    width: auto;
    max-width: 530px;
}



